# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

# trigger:
# - main

pool: 'Local Build Agents'

steps:
- script: |
    git submodule update --init --recursive
    cd src/bl616
    CROSS_COMPILE=/home/stealthcat/bl616/BouffaloToolchain/bin/riscv64-unknown-elf- BL_SDK_BASE=/home/stealthcat/bl616/ModifiedBouffaloSDK/ make
  displayName: 'Build FPGA Companion'

- task: CopyFiles@2
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)'
    Contents: |
      src/bl616/build/build_out/*
    TargetFolder: '$(Build.ArtifactStagingDirectory)'
    CleanTargetFolder: true

- task: PublishBuildArtifacts@1
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: 'Artifacts'
    publishLocation: 'Container'